body {
    background: #1b1b1b;
}
.icon {
    height: 42px;
    width: 42px;
}
.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 3em;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.item {
    flex-wrap: wrap;
    padding: 0.5em;
    max-height: 580px;
    max-width: 500px;
}
.item2 {
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 3em;
    max-height: 580px;
    max-width: 500px;
}
.image {
    max-width: 100%;
    height: auto;
    border: 3px solid white;
    box-shadow: #000000;
}
table{
    padding-top: 2em;
}
td {
    padding: 1em;
}
td:hover{
    background-color: #0a0a0a;
    border-radius: 50%;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}